.input {
    display: flex;
    width: 95%;
    position: relative; /* postion relative as we want the button to display inside of the input*/
    align-items: center;
}

.input_box {
    width: 100%;
    border-radius: 50px;
    padding: 20px 30px;
    font-size: 25px;
    border: none;
    transition: 0.2s;
    box-shadow: inset 0 0 5px black; /* create a shadow inside the input box */
}

/* focus is used to darken the rest of the screen when we click on the input box */
.input_box:focus {
    box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.5);
    outline: none;
}

.input_submit {
    position: absolute; /* Button positioned inside the input */
    width: 50px;
    height: 50px;
    margin: 12px;
    border-radius: 50px;
    right: 0px;
    border: none;
    font-size: 15px;
    background-color: #2f74c0;
    color: white;
    transition: 0.2s all;
    box-shadow: 0 0 10px black;
}

/* Lighten the button when hover over the button */
.input_submit:hover {
    background-color: #388ae2;
}

/* Button slightly decreases in size when clicked */
.input_submit:active {
    transform: scale(0.8);
    box-shadow: 0 0 5px black;
}
